
<div class="flex flex-col mx-auto space-y-3">
  <div> <%= image_tag("prompt_image.jpg", class: "rounded-xl") %> </div>

  <div class="text-center">
    <%= form_with url: "/answer", method: :post do |form| %>
      <%= form.label :answer, "Enter prompt:" %>
      <%= form.text_field :answer %>
      <%= form.submit "Check !" %>
    <% end %>
  </div>
</div>
