<div>
  <%= image_tag("/prompt_image.jpg") %>

  <div class="flex flex-row flex-wrap justify-center">
    <% @prompt_helper.split(";").each do |word| %>
      <span><%= word %>&nbsp;&nbsp;</span>
    <% end %>
  </div>

  <%= form_with url: "/answer", method: :post do |form| %>
    <%= form.text_field "answer" %>
    <%= form.submit "->" %>
  <% end %>

  <%= turbo_frame_tag 'answer_results_frame' do %><% end %>
</div>
