<div class="flex flex-col mx-auto space-y-3">
  <div> <%= image_tag("prompt_image.jpg", class: "rounded-xl") %> </div>
    <div class="text-center">
      <p>Enter prompt (<%= @prompt_size %> words):</p>

      <%= turbo_frame_tag 'answer_results_frame' do %>
      <% end %>

      <%= form_with url: "/answer", method: :post, class: "flex flex-col items-center"  do |form| %>
        <%= form.text_field "answer", value: params[:answer] %>
        <%= form.submit "Check !" %>
      <% end %>
    </div>
</div>
