<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JeopardAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="min-h-screen flex flex-col justify-between text-center">
    <%= render 'home/header' %>
    <%= yield %>
    <%= render 'home/footer' %>
  </body>
</html>
