<!DOCTYPE html>
<html>
  <head>
    <title>JeopardAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen w-screen bg-auto
               bg-gradient-to-b from-orange-300 via-violet-500 to-orange-300
               md:bg-gradient-to-tr from-violet-500 to-orange-300">
    <main class=" mx-auto mt-20 flex">
      <%= yield %>
    </main>
  </body>
</html>
