<!DOCTYPE html>
  <head>
    <title>JeopardAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="mx-auto bg-gray-900 flex flex-col min-h-screen justify-between">

    <main class="mx-auto mt-20 flex">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
